/*
 * Markdown styles
 */

.Markdown {
    padding: 20px;
}

.Markdown h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

.Markdown h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

.Markdown h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.Markdown em {
    font-style: italic;
}

.Markdown p {
    margin: 10px 0;
}

.Markdown pre {
    background-color: #EBEBEB;
    padding: 15px 15px;
}

.Markdown code {
    background-color: #EBEBEB;
    padding: 5px 15px;
}

.Markdown ol {
    list-style: decimal outside none;
    padding-left: 20px;
}

.Markdown ul {
    list-style: disc outside none;
    padding-left: 20px;
}

