/*
 * post (includes markdown styles)
 */


.Post h1 {
    font-size: 3em;
}

.Post em {
    font-style: italic;
}

.Post p {
    margin: 10px;
}

.Post pre {
    background-color: #EBEBEB;
    padding: 15px 15px;
}

