/*
 * post (includes markdown styles)
 */

.Post {
    padding: 20px;
}

.Post h1 {
    font-size: 3em;
}

.Post em {
    font-style: italic;
}

.Post p {
    margin: 10px;
}

.Post pre {
    background-color: #EBEBEB;
    padding: 15px 15px;
}

.Post_header {
    margin-bottom: 15px;
}

.Post_author {
    font-size: 1.3em;
}

.Post_date {
    font-size: 0.8em;
    text-align: right;
    vertical-align: baseline;
}

