/*
 * post
 */

.Post {
    padding: 20px;
}

.Post_header {
    margin-bottom: 15px;
}

.Post_author {
    font-size: 1.3em;
}

.Post_date {
    font-size: 0.8em;
    text-align: right;
    vertical-align: baseline;
}

