; test data
;; author and first post
[{:db/id #db/id[:db.part/user -1]
  :author/firstName "Davin"
  :author/lastName "Tryon"
  :author/email "davintryon@gmail.com"}
{:db/id #db/id[:db.part/user]
  :post/body "and this is the first body with some `code`"
  :post/author #db/id[:db.part/user -1]}]



